body {
    /* background-color: rgb(1, 24, 24); */
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative
}

.gameArea {
    width: 720px;
    /* height: 918px; */
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 0 auto;
    position: relative
}

.header {
    margin-left: 90px;
    font-size: 30px;
    font-family: 'Common Pixel', sans-serif;
}

.points {
    margin-left: 140px;
    font-size: 30px;
    font-family: 'Common Pixel', sans-serif;
}

.top {
    width: 720px;
    height: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.top div {
    display: flex;
}

.bottom {
    width: 720px;
    height: 50px;
    display: flex;
    margin-top: 2px;
}

#menu {
    background-color: black;
    border-color: grey;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-left: 310px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    width: 100px;
}

.grid {
    width: 720px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 37.89px;
    height: 35.28px;
}

.empty {
    background-color: black;
}

.wall {
    background-color: blue;
    /* border-width: 1px;
    border-style: solid;
    border-color: coral; */
}

.dots div {
    width: 8px;
    height: 8px;
    background-color: wheat;
    border-radius: 50%;
    margin: 15px;
}

.energizers div {
    background-color: wheat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: auto;
    animation: blinker 1s linear infinite;
}

.ghost-lair {
    background-color: black;
}

.ghost-lair-entry {
    background-color: whitesmoke;
}

.pacman div {
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
}

.BLINKY div {
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
}

.PINKY div {
    background-color: plum;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
}

.INKY div {
    background-color: turquoise;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
}

.CLYDE div {
    background-color: goldenrod;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
}

.scared div {
    background-color: #0ab0f7;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    100% {
        opacity: 0.2;
    }
}

.moveButtons {
    text-align: center;
    width: 480px;
    margin: auto;
    position: relative
}

.moveButtons button {
    width: 100px;
    height: 50px;
}